@import url('https://fonts.googleapis.com/css?family=Bebas Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.age-pie-chart {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: conic-gradient(
    #f46a35 0% 8%,
    #f05215 8% 28%,
    #e94709 28% 54%,
    #9e9e9e 54% 77%,
    #aaaaaa 77% 94%,
    #b9b9b9 94% 100%
  );
}
.gender-pie-chart {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: conic-gradient(#e94709 0% 55%, #00afad 55% 100%);
}
.age-text1 {
  top: 20%;
  left: 58%;
  transform: translate(-50%, -50%);
}
.age-text2 {
  top: 40%;
  left: 80%;
  transform: translate(-50%, -50%);
}
.age-text3 {
  top: 78%;
  left: 65%;
  transform: translate(-50%, -50%);
}
.age-text4 {
  top: 70%;
  left: 25%;
  transform: translate(-50%, -50%);
}
.age-text5 {
  top: 35%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.age-text6 {
  top: 18%;
  left: 45%;
  transform: translate(-50%, -50%);
}
.chart-text {
  position: absolute;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}
.gender-text1 {
  top: 55%;
  left: 70%;
  transform: translate(-50%, -50%);
}
.gender-text2 {
  top: 55%;
  left: 30%;
  transform: translate(-50%, -50%);
}
